.advantage-item {
  min-height: 135px;

  &::before {
    content: "";

    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 52px 56px;
  }

  &--speed::before {
    background-image: url("../../img/Features-speed.svg");
  }

  &--comfort::before {
    background-image: url("../../img/Features-comfort.svg");
  }

  &--energy::before {
    background-image: url("../../img/Features-energy.svg");
  }

  &--eco::before {
    background-image: url("../../img/Features-eco.svg");
  }
}

.advantage-item__wrapper {

}

@media (min-width: @tablet-width) {
  .advantage-item {
    display: flex;

    text-align: start;
  }

  .advantage-item__wrapper {
    max-width: 245px;
  }

  .advantage-item__title {
    margin: 0 0 10px;
  }
}

@media (min-width: @desktop-width) {
  .advantage-item {
    display: block;

    text-align: center;
  }

  .advantage-item__wrapper {
    max-width: 271px;
  }
}
