.button {
  padding: 10px 14px;

  color: @base_white;
  text-decoration: none;

  background-color: @base_primary;
  border: none;
  border-radius: 4px;

  &--white {
    color: @base_primary;

    background-color: @base_white;
  }
}
