.sort-form {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.sort-form__select {
  width: 165px;
  min-height: 32px;
  padding: 4px 30px 4px 10px;

  font: inherit;

  background-color: transparent;
  border: none;
  appearance: none;

  text-transform: lowercase;
  color: @base_primary;
}

@media (min-width: @desktop-width) {
  .sort-form {
    grid-column: span 2;
    grid-row-start: 1;
  }
}
